* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/*End of CSS reset*/


/*Color variables*/

:root {
    --primary-color: #fff;
    --secondary-color: #000;
}

/***************************/

body {
    height: 100vh;
    width: 100%;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

header {
    border-bottom: solid 1px var(--secondary-color);
    padding: 1em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1em;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
  }
  
  nav ul li a:hover {
    background-color: #d4cdd6; 
    border-radius: 5px;
  }

  nav ul li a.active {
    font-weight: 600; 
  }

/*Hero page*/

#hero {
    background-size: cover;
}

#hero h1 {
    font-size: 100px; 
  }

/*Services section*/

#services {
    padding: 50px 0;
}

#services .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

#services h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2em; /* Adjust size as needed */
}

.services-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-item {
    flex-basis: calc(33.333% - 30px); /* Adjust the spacing as needed */
    margin-bottom: 30px;
    text-align: center;
}

.service-item img {
    width: 80px; /* Adjust size as needed */
    margin-bottom: 20px;
}

.service-item h3 {
    margin-bottom: 15px;
    font-size: 1.5em; /* Adjust size as needed */
}

.service-item p {
    font-size: 1em; /* Adjust size as needed */
    line-height: 1.6;
}

/*About section*/

#about {
    padding: 2em;
}

/*Contact section*/

#contact {
    padding: 2em;
}

/***************************/

footer {
    background-color: #d74be4;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/******** Responsive design *********/
@media only screen and (max-width: 360px) {}

@media only screen and (min-width: 1920px) {}

@media (max-width: 992px) {
    .service-item {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .service-item {
        flex-basis: 100%;
    }
}

/******** Dark mode *********/

@media (prefers-color-scheme: dark) {
    body {
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }

}