* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/*End of CSS reset*/


/*Color variables*/

:root {
    --light-primary: linear-gradient(117deg, #EEEEF0 0%, #CCCCD8 100%);
    --light-secondary: #000000;
    --dark-primary: linear-gradient(117deg, #121215 0%, #262629 100%);
    --dark-secondary: #ffffff;
}

/***************************/

body {
    max-width: 76%; 
    margin: 0 auto;
    color: var(--light-secondary);
    background-color: var(--light-secondary);
    font-family: 'Roboto', sans-serif;
}
header, 
section {
    background: var(--light-primary);
}
header {
    border-bottom: solid 1px var(--light-secondary);
    padding: 1em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1em;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
  }
  
  nav ul li a:hover {
    background-color: #d4cdd6; 
    border-radius: 5px;
  }

  nav ul li a.active {
    font-weight: 600; 
  }


/*Hero page*/

#hero {
    height: 100vh;
    background-size: cover;
}

#hero h1 {
    font-size: 100px; 
  }

#hero footer {
    visibility: hidden;
  }


/*About section*/

#about {
    height: auto;
}

#hero-ceginformacio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    color: var(--light-secondary);
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}

.hero-image {
    width: 50%;
}

.text-content {
    text-align: left;
}

.text-content h1 {
    font-size: 4em; 
}

.services-link {
    font-size: 1.2em; 
    color: var(--light-secondary);
    text-decoration: underline;
}

.reviews-section {
    background: #333; 
    color: var(--dark-secondary);
    padding: 50px 0;
}

.reviews-section .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.reviews-section h2 {
    text-align: center;
    margin-bottom: 40px;
}

.review-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.review-item {
    text-align: center;
}

.review-image {
    border-radius: 50%; 
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    margin: 0 auto 20px; 
}

blockquote {
    font-style: italic;
}

.review-footer {
    margin-top: 20px;
    font-weight: bold;
}

.introduction-section {
    background: var(--light-primary); 
    color: var(--light-secondary); 
    padding: 50px 0;
    text-align: justify;
}

.intro-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.introduction-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.introduction-section p {
    text-align: left;
    margin-bottom: 1em;
}


/*Services section*/

#services {
    height: auto;
}

#services .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

#services h2 {
    padding-top: 45px;
    margin-bottom: 30px; 
    text-align: center;
    font-size: 2em; 
    font-weight: 400;
}

.services-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-item {
    flex-basis: calc(33.333% - 30px); 
    margin-bottom: 30px;
    text-align: center;
}

.service-item img {
    width: 80px; 
    margin-bottom: 20px;
}

.service-item h3 {
    margin-bottom: 15px;
    font-size: 1.5em; 
}

.service-item p {
    font-size: 1em; 
    line-height: 1.6;
}


/*Contact section*/

#contact {
    height: auto;
}

.contact-info h2 {
    padding-top: 45px;
    margin-bottom: 30px; 
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}

.company-info,
.map {
    display: inline-block;
    vertical-align: top; 
    padding-left: 50px;
    padding-bottom: 40px;
}

.company-info {
    width: 50%;
    margin-left: 30px;
    margin-right: 40px;
}

.company-info p,
.company-info ul {
    margin-bottom: 1em;
    font-size: 24px;
}

.company-info ul li {
    margin-left: 12px;
    list-style: none;
}

.company-info ul li:before {
    content:"· ";
    font-size: 45px;
    vertical-align: middle;
    line-height: 20px;
}

.company-info p span {
    text-decoration: underline;
}

.map {
    width: 35%;
    margin-left: 50px;
    box-sizing: border-box;
}

.contact-form {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 60px;
    color: #888888;
    background-color: var(--light-secondary);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    flex-basis: 28%;
    box-sizing: border-box;
    margin-right: 3px;
}

.form-group:last-child {
    margin-right: 0; 
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    padding: 8px;
    font-size: 18px;
    font-weight: 600;
    color: var(--dark-secondary);
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    border-bottom: 4px solid #A0009B;
    background-color: #888888;
}

.form-group textarea {
    height: 100px; 
    flex-basis: 1;
}

button[type="submit"] {
    width: 140px;
    height: 38px;
    margin-left: 90%; 
    margin-top: 30px;
    padding: 2px 28px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(to right, #7000A0, #A0009B);
    color: var(--dark-secondary);
}

/***************************/

#footer-btm {
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 291px; 
    align-items: center; 
    justify-content: center;
    padding: auto;
    line-height: 1;
    background: linear-gradient(to right, #7000A0, #A0009B);
}

#footer-btm h2 {
    font-size: 120px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 200px; 
    color: var(--dark-secondary);
}

/******** Responsive design *********/
@media screen and (max-width: 360px) {}

@media screen and (min-width: 1920px) {}

@media screen and (max-width: 1920px) {
    .service-item {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 1600px) {
.company-info,
.map {
    display: block; 
    width: 90%; 
    margin-right: 0; 
    }
}

@media screen and (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .hero-image {
        width: 100%;
    }

    .review-items {
        grid-template-columns: 1fr;
    }

    .service-item {
        flex-basis: 100%;
    }

    .company-info {
        display: block; 
        max-width: 360px; 
        margin: 0; 
    }

    .map {
        width: fit-content; 
        margin: 0;
        padding: 0;
    }

    .form-row {
        flex-direction: column;
    }

    .form-group {
        flex-basis: 100%; 
        margin-right: 0; 
    }

    button[type="submit"] {
        width: 100%;
        margin-left: 0;
    }
}



/******** Dark mode *********/

@media (prefers-color-scheme: dark) {
    body {
        color: var(--dark-secondary);
        background: var(--dark-primary);
    }

}